<header class="header lateral-padding">
    <section class="header__logo">
        <h2 class="header__logo-subtitle">CRISTIAN CRUZ</h2>
    </section>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item header__nav-item--relative">
                <button class="header__nav-button header__nav-button--language" (click)="switchLanguageDropDown()">
                    <h3 class="header__nav-text">
                        {{'current.language' | translate}}
                    </h3>
                    <img class="header__nav-img header__nav-img--carret-down" src="../../../assets/shared-icons/carret-down-icon.svg" alt="language button">
                </button>
                @if(isLanguageDropDownOpen){
                    <ul class="header__drop-down">
                    <li class="header__drop-down-item">
                        <button class="header__drop-down-button" (click)="useLanguage('es')">
                            ES
                        </button>
                    </li>
                    <li class="header__drop-down-item">
                        <button class="header__drop-down-button" (click)="useLanguage('en')">
                            EN
                        </button>
                    </li>
                </ul>
                }
            </li>
            <li class="header__nav-item">
                <button class="header__nav-button">
                    <img class="header__nav-img" src="../../../assets/shared-icons/github-icon.svg" alt="github button">
                </button>
            </li>
            <li class="header__nav-item">
                <button class="header__nav-button">
                    <img class="header__nav-img" src="../../../assets/shared-icons/linkedin-icon.svg" alt="linkedin button">
                </button>
            </li>
        </ul>   
    </nav>
</header>