<header class="header">
    <section class="header__logo">
        <h2>CristianDev</h2>
    </section>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <button class="header__nav-button">
                    GITHUB
                </button>
            </li>
            <li class="header__nav-item">
                <button class="header__nav-button">
                    LINKEDIN
                </button>
            </li>
        </ul>   
    </nav>
</header>