.header{
    display: flex;
    justify-content: space-between;
    font-family: var(--header-font);
    padding-top: 48px;
    &__logo{
        &-title{
            color: var(--primary-white);
            margin: 0;
        }
    }
    &__nav{
        &-list{
            display: flex;
            gap:10px;

        }
        &-item{

        }
        &-button{

        }
    }
}