.header{
    display: flex;
    justify-content: space-between;
    font-family: var(--header-font);
    &__logo{
        
    }
    &__nav{
        &-list{

        }
        &-item{

        }
        &-button{

        }
    }
}