//general global styles

body{
  background-color: var(--primary-black);
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
//global padding styles
.lateral-padding {
  padding-inline: clamp(40px, 2.67857vw + 12.5714px, 64px);

  @media (max-width: 1024px) {
    padding-inline: clamp(16px, 3.61446vw + 2.98795px, 40px);
  }
}

//globlal font styles

:root{

    //FONTS
    --header-font: "Oswald", sans-serif;

    //COLORS
    --primary-black: #282623;
    --primary-gray:#58534E;
    --secondary-gray:#B9B8B6;
    --primary-white:#DAD9D8;

    //FONT SIZES
    --font-size-subtitle: 1.5rem;
    --font-size-title: 2rem;
}